 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1530px;
}

.u-section-1 .u-line-1 {
  position: absolute;
  top: 156px;
  height: 1120px;
  transform-origin: center top;
  border-style: solid;
  left: 568px;
}

.u-section-1 .u-text-1 {
  margin: 50px auto 0;
}

.u-section-1 .u-group-elements-1 {
  width: 200px;
  min-height: 29px;
  height: auto;
  margin: 50px 308px 0 auto;
}

.u-section-1 .u-shape-1 {
  --radius: 10px;
  height: 19px;
  margin-top: 5px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin: -24px auto 0;
}

.u-section-1 .u-shape-2 {
  height: 24px;
  width: 24px;
  margin: -26px auto 0 558px;
}

.u-section-1 .u-shape-3 {
  height: 14px;
  width: 14px;
  margin: -19px auto 0 563px;
}

.u-section-1 .u-line-2 {
  width: 40px;
  border-style: solid;
  margin: -9px 513px 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 18px 308px 0 632px;
}

.u-section-1 .u-text-4 {
  margin: 0 257px 0 582px;
}

.u-section-1 .u-group-elements-2 {
  width: 200px;
  min-height: 29px;
  height: auto;
  margin: 24px auto 0 308px;
}

.u-section-1 .u-shape-4 {
  --radius: 10px;
  height: 19px;
  margin-top: 5px;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  margin: -24px auto 0;
}

.u-section-1 .u-shape-5 {
  height: 24px;
  width: 24px;
  margin: -28px auto 0 558px;
}

.u-section-1 .u-shape-6 {
  height: 14px;
  width: 14px;
  margin: -19px auto 0 563px;
}

.u-section-1 .u-line-3 {
  width: 40px;
  border-style: solid;
  margin: -7px auto 0 513px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 18px 632px 0 308px;
}

.u-section-1 .u-text-7 {
  margin: 0 581px 0 258px;
}

.u-section-1 .u-group-elements-3 {
  width: 200px;
  min-height: 29px;
  height: auto;
  margin: 20px 308px 0 auto;
}

.u-section-1 .u-shape-7 {
  --radius: 10px;
  height: 19px;
  margin-top: 5px;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  margin: -24px auto 0;
}

.u-section-1 .u-shape-8 {
  height: 24px;
  width: 24px;
  margin: -26px auto 0 558px;
}

.u-section-1 .u-shape-9 {
  height: 14px;
  width: 14px;
  margin: -19px auto 0 563px;
}

.u-section-1 .u-line-4 {
  width: 40px;
  border-style: solid;
  margin: -7px 513px 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 11px 275px 0 604px;
}

.u-section-1 .u-text-10 {
  margin: 5px 257px 0 582px;
}

.u-section-1 .u-shape-10 {
  height: 24px;
  width: 24px;
  margin: 32px auto 0 558px;
}

.u-section-1 .u-shape-11 {
  height: 14px;
  width: 14px;
  margin: -19px auto 0 563px;
}

.u-section-1 .u-group-elements-4 {
  width: 200px;
  min-height: 29px;
  height: auto;
  margin: -19px auto 0 308px;
}

.u-section-1 .u-shape-12 {
  --radius: 10px;
  height: 19px;
  margin-top: 5px;
  margin-bottom: 0;
}

.u-section-1 .u-text-11 {
  margin: -24px auto 0;
}

.u-section-1 .u-line-5 {
  width: 40px;
  border-style: solid;
  margin: -17px auto 0 513px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 19px 624px 0 300px;
}

.u-section-1 .u-text-13 {
  margin: 7px 581px 0 258px;
}

.u-section-1 .u-group-elements-5 {
  width: 200px;
  min-height: 29px;
  height: auto;
  margin: 15px 309px 0 auto;
}

.u-section-1 .u-shape-13 {
  --radius: 10px;
  height: 19px;
  margin-top: 5px;
  margin-bottom: 0;
}

.u-section-1 .u-text-14 {
  margin: -24px auto 0;
}

.u-section-1 .u-shape-14 {
  height: 24px;
  width: 24px;
  margin: -26px auto 0 558px;
}

.u-section-1 .u-shape-15 {
  height: 14px;
  width: 14px;
  margin: -19px auto 0 563px;
}

.u-section-1 .u-line-6 {
  width: 40px;
  border-style: solid;
  margin: -7px 513px 0 auto;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  margin: 17px 264px 0 598px;
}

.u-section-1 .u-text-16 {
  margin: 0 257px 0 582px;
}

.u-section-1 .u-group-elements-6 {
  width: 200px;
  min-height: 29px;
  height: auto;
  margin: 29px auto 0 308px;
}

.u-section-1 .u-shape-16 {
  --radius: 10px;
  height: 19px;
  margin-top: 5px;
  margin-bottom: 0;
}

.u-section-1 .u-text-17 {
  margin: -24px auto 0;
}

.u-section-1 .u-shape-17 {
  height: 24px;
  width: 24px;
  margin: -26px auto 0 558px;
}

.u-section-1 .u-shape-18 {
  height: 14px;
  width: 14px;
  margin: -19px auto 0 563px;
}

.u-section-1 .u-line-7 {
  width: 40px;
  border-style: solid;
  margin: -7px auto 0 513px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: 12px 658px 0 335px;
}

.u-section-1 .u-text-19 {
  margin: 6px 581px 0 258px;
}

.u-section-1 .u-group-elements-7 {
  width: 200px;
  min-height: 29px;
  height: auto;
  margin: 35px 308px 0 auto;
}

.u-section-1 .u-shape-19 {
  --radius: 10px;
  height: 19px;
  margin-top: 5px;
  margin-bottom: 0;
}

.u-section-1 .u-text-20 {
  margin: -24px auto 0;
}

.u-section-1 .u-shape-20 {
  height: 24px;
  width: 24px;
  margin: -26px auto 0 558px;
}

.u-section-1 .u-shape-21 {
  height: 14px;
  width: 14px;
  margin: -19px auto 0 563px;
}

.u-section-1 .u-line-8 {
  width: 40px;
  border-style: solid;
  margin: -7px 513px 0 auto;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  margin: 16px 287px 0 606px;
}

.u-section-1 .u-text-22 {
  margin: 1px 258px 60px 581px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-right: 208px;
    margin-left: 532px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 157px;
    margin-left: 482px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 532px;
    margin-left: 208px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 481px;
    margin-left: 158px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 175px;
    margin-left: 504px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 157px;
    margin-left: 482px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 524px;
    margin-left: 200px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 481px;
    margin-left: 158px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 164px;
    margin-left: 498px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 157px;
    margin-left: 482px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 558px;
    margin-left: 235px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 481px;
    margin-left: 158px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 187px;
    margin-left: 506px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 158px;
    margin-left: 481px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1349px;
  }

  .u-section-1 .u-line-1 {
    top: 157px;
    height: 1000px;
    left: auto;
    right: 487px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 51px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 52px;
    margin-right: auto;
    margin-left: 564px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -27px;
    margin-left: 489px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 494px;
  }

  .u-section-1 .u-line-2 {
    margin-top: -8px;
    margin-right: auto;
    margin-left: 519px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 17px;
    margin-right: 186px;
    margin-left: 555px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 136px;
    margin-left: 504px;
  }

  .u-section-1 .u-group-elements-2 {
    margin-left: 239px;
  }

  .u-section-1 .u-shape-5 {
    margin-left: 489px;
  }

  .u-section-1 .u-shape-6 {
    margin-left: 494px;
  }

  .u-section-1 .u-line-3 {
    margin-left: 445px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 14px;
    margin-right: 558px;
    margin-left: 182px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 507px;
    margin-left: 132px;
  }

  .u-section-1 .u-group-elements-3 {
    margin-top: 21px;
    margin-right: auto;
    margin-left: 564px;
  }

  .u-section-1 .u-shape-8 {
    margin-top: -24px;
    margin-left: 489px;
  }

  .u-section-1 .u-shape-9 {
    margin-left: 494px;
  }

  .u-section-1 .u-line-4 {
    margin-top: -9px;
    margin-right: auto;
    margin-left: 519px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 170px;
    margin-left: 509px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 152px;
    margin-left: 487px;
  }

  .u-section-1 .u-shape-10 {
    margin-top: 35px;
    margin-left: 489px;
  }

  .u-section-1 .u-shape-11 {
    margin-left: 494px;
  }

  .u-section-1 .u-group-elements-4 {
    margin-left: 239px;
  }

  .u-section-1 .u-line-5 {
    margin-left: 445px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-right: 536px;
    margin-left: 189px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-right: 492px;
    margin-left: 148px;
  }

  .u-section-1 .u-group-elements-5 {
    margin-right: auto;
    margin-left: 565px;
  }

  .u-section-1 .u-shape-14 {
    margin-left: 489px;
  }

  .u-section-1 .u-shape-15 {
    margin-left: 494px;
  }

  .u-section-1 .u-line-6 {
    margin-right: auto;
    margin-left: 519px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 16px;
    margin-right: 143px;
    margin-left: 520px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-right: 136px;
    margin-left: 504px;
  }

  .u-section-1 .u-group-elements-6 {
    margin-left: 239px;
  }

  .u-section-1 .u-shape-17 {
    margin-left: 489px;
  }

  .u-section-1 .u-shape-18 {
    margin-left: 494px;
  }

  .u-section-1 .u-line-7 {
    margin-left: 445px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 16px;
    margin-right: 570px;
    margin-left: 224px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-right: 492px;
    margin-left: 147px;
  }

  .u-section-1 .u-group-elements-7 {
    margin-top: 33px;
    margin-right: auto;
    margin-left: 564px;
  }

  .u-section-1 .u-shape-20 {
    margin-left: 489px;
  }

  .u-section-1 .u-shape-21 {
    margin-left: 494px;
  }

  .u-section-1 .u-line-8 {
    margin-right: auto;
    margin-left: 519px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-right: 161px;
    margin-left: 532px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-right: 132px;
    margin-bottom: 50px;
    margin-left: 507px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: 340px;
  }

  .u-section-1 .u-line-2 {
    margin-left: 500px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 289px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 188px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 289px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 188px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-3 {
    margin-left: 340px;
  }

  .u-section-1 .u-line-4 {
    margin-left: 500px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 228px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 188px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 241px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 188px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-5 {
    margin-left: 340px;
  }

  .u-section-1 .u-line-6 {
    margin-left: 500px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 211px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 188px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 342px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 188px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-7 {
    margin-left: 340px;
  }

  .u-section-1 .u-line-8 {
    margin-left: 500px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 242px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
    margin-left: 188px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1286px;
  }

  .u-section-1 .u-line-1 {
    top: 103px;
    left: 29px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 26px;
    margin-right: 46px;
    margin-left: 140px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 20px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 25px;
  }

  .u-section-1 .u-line-2 {
    margin-left: 49px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 64px;
    margin-left: 106px;
  }

  .u-section-1 .u-text-4 {
    width: 248px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-elements-2 {
    min-height: 26px;
    margin-right: 46px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-5 {
    margin-left: 20px;
  }

  .u-section-1 .u-shape-6 {
    margin-left: 25px;
  }

  .u-section-1 .u-line-3 {
    margin-left: 49px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 58px;
    margin-left: 105px;
  }

  .u-section-1 .u-text-7 {
    width: 248px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-elements-3 {
    min-height: 26px;
    margin-right: 46px;
    margin-left: 140px;
  }

  .u-section-1 .u-shape-8 {
    margin-left: 20px;
  }

  .u-section-1 .u-shape-9 {
    margin-left: 25px;
  }

  .u-section-1 .u-line-4 {
    margin-left: 49px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 27px;
    margin-left: 74px;
  }

  .u-section-1 .u-text-10 {
    width: 248px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-shape-10 {
    margin-left: 20px;
  }

  .u-section-1 .u-shape-11 {
    margin-left: 25px;
  }

  .u-section-1 .u-group-elements-4 {
    min-height: 26px;
    margin-right: 46px;
    margin-left: auto;
  }

  .u-section-1 .u-line-5 {
    margin-left: 49px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 55px;
    margin-left: 97px;
  }

  .u-section-1 .u-text-13 {
    width: 248px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-elements-5 {
    min-height: 26px;
    margin-right: 46px;
    margin-left: 140px;
  }

  .u-section-1 .u-shape-14 {
    margin-left: 20px;
  }

  .u-section-1 .u-shape-15 {
    margin-left: 25px;
  }

  .u-section-1 .u-line-6 {
    margin-left: 49px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 25px;
    margin-left: 72px;
  }

  .u-section-1 .u-text-16 {
    width: 248px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-elements-6 {
    min-height: 26px;
    margin-right: 46px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-17 {
    margin-left: 20px;
  }

  .u-section-1 .u-shape-18 {
    margin-left: 25px;
  }

  .u-section-1 .u-line-7 {
    margin-left: 49px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 77px;
    margin-left: 125px;
  }

  .u-section-1 .u-text-19 {
    width: 248px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-elements-7 {
    min-height: 26px;
    margin-right: 46px;
    margin-left: 140px;
  }

  .u-section-1 .u-shape-20 {
    margin-left: 21px;
  }

  .u-section-1 .u-shape-21 {
    margin-left: 26px;
  }

  .u-section-1 .u-line-8 {
    margin-left: 50px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 35px;
    margin-left: 84px;
  }

  .u-section-1 .u-text-22 {
    width: 248px;
    margin-left: auto;
    margin-right: auto;
  }
}